openapi: 3.0.3
info:
  title: TrustBuilder wargames-ai Server API
  description: API for interacting with a language model and joining game sessions. For vis paste into editor.swagger.io
  version: 1.0.0

servers:
  - url: https://wargames-ai.trb.ai
    description: Production server

paths:
  /llm:
    get:
      summary: Get LLM metadata
      description: Returns metadata about the language model.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  model_name:
                    type: string
                  version:
                    type: string
                  capabilities:
                    type: array
                    items:
                      type: string

    post:
      summary: Submit prompt to LLM
      description: Send a prompt and get the LLM's response.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                prompt:
                  type: string
              required:
                - prompt
      responses:
        '200':
          description: LLM response
          content:
            application/json:
              schema:
                type: object
                properties:
                  response:
                    type: string

  /eval-results:
    get:
      summary: Get evaluation results
      description: Retrieve results from the latest model evaluation.
      responses:
        '200':
          description: Evaluation results retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  task:
                    type: string
                  score:
                    type: number
                    format: float
                  passed:
                    type: boolean

  /join-game:
    post:
      summary: Join a game session
      description: Register a player to join an active game.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                player_name:
                  type: string
              required:
                - player_name
      responses:
        '200':
          description: Successfully joined game
          content:
            application/json:
              schema:
                type: object
                properties:
                  player_id:
                    type: string
                  status:
                    type: string

  /game-status:
    get:
      summary: Get game status
      description: Retrieve the current state of the game.
      responses:
        '200':
          description: Game status retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  players:
                    type: array
                    items:
                      type: string
                  state:
                    type: string
                  round:
                    type: integer
